.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 24px 0;
    font-weight: normal;
}

.TodoCounter span {
    font-weight: bold;
    /* Usaremos CSS Variables o colores directos */
}